:root {
    --colors-labels-vibrant-controls-primary: rgba(26, 26, 26, 1);
    --appearance-labels-vibrant-use-plus-lighter-darker-primary: rgba(
      26,
      26,
      26,
      1
    );
  }
  
  /*
  
  To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:
  
  <body data-colors-mode="light">
      <!-- the rest of your content -->
  </body>
  
  You can apply the theme on any DOM node, not just the `body`
  
  */
  
  [data-colors-mode="light"] {
    --colors-labels-vibrant-controls-primary: rgba(26, 26, 26, 1);
  }
  
  [data-colors-mode="dark"] {
    --colors-labels-vibrant-controls-primary: rgba(245, 245, 245, 1);
  }
  
  [data-colors-mode="IC-light"] {
    --colors-labels-vibrant-controls-primary: rgba(0, 0, 0, 1);
  }
  
  [data-colors-mode="IC-dark"] {
    --colors-labels-vibrant-controls-primary: rgba(255, 255, 255, 1);
  }
  
  [data-appearance-mode="light"] {
    --appearance-labels-vibrant-use-plus-lighter-darker-primary: rgba(
      26,
      26,
      26,
      1
    );
  }
  
  [data-appearance-mode="dark"] {
    --appearance-labels-vibrant-use-plus-lighter-darker-primary: rgba(
      245,
      245,
      245,
      1
    );
  }
  